<section class="heading-section">

    <h1 class="title is-1 has-text-centered">ToDo List</h1>

</section>

<!-- <section class="body-section">
    <div class="body-container">
    
        <div class="add-todo-box">
                
            <form>
                <h2 class="title is-5">New Item</h2>

                <div class="field is-grouped">
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="Type ToDo text here">
                    </p>
                    <p class="control">
                      <button class="button alt-gradient-button">
                          <i class="material-icons">add</i>
                        Add
                      </button>
                    </p>
                  </div>

            </form>

        </div>

    </div>
</section> -->

<section class="section">
    <div class="container add-todo-box-container">

        <div class="add-todo-box">
                
            <form>
                <h2 class="title is-5">New Item</h2>

                <div class="field is-grouped">
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="Type ToDo text here">
                    </p>
                    <p class="control">
                      <button class="button alt-gradient-button">
                        <i class="material-icons">add</i>
                        Add
                      </button>
                    </p>
                  </div>

            </form>

        </div>
    </div>

<section class="section">
    <div class="container">
        
        <div class="todo-list">
           <div class="todo-item completed">
               <div class="check-box">
                  <i class="material-icons">check</i>
               </div>
               <div class="todo-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quis, cumque iusto quos eum alias reiciendis doloribus perferendis iste. Hic, tenetur nemo ea alias eos libero non expedita sed animi.
               </div>
            </div>

            <div class="todo-item">
                <div class="check-box">
                   <i class="material-icons">check</i>
                </div>
                <div class="todo-text">
                   This only has one line of text
                </div>

                <div class="todo-controls-box">
                    <div class="todo-controls-button">
                        <i class="material-icons">edit</i>
                    </div>
                    <div class="todo-controls-button is-danger">
                        <i class="material-icons">delete</i>
                    </div>
                </div>
             </div>
        </div>
    </div>

</section>