.heading-section {

    //background: #ece63d;

    background: linear-gradient(to right,rgba(243, 199, 5, 0.85),rgba(243,219,5, 0.75));

    // background: linear-gradient(to right,#f3c705,#f3db05);

    //background: linear-gradient(to right,#C3CB0A,#f3c705);

    //background: linear-gradient(to right,#C3CB0A,#B3BB09);

    //background: linear-gradient(#1B92E4,#1BE4D1);

    //background: linear-gradient(to right,#C3CB0A,#EBF422);
    
    //background: linear-gradient(#1608F7,#E9F708);
    //background: linear-gradient(to right,#1608F7,#E9F708);
    //background: #F1F865; //#C3CB0A
    
    //background: #CFD80A; //#C3CB0A

    padding: 100px;
    padding-bottom: 125px;

    h1.title {
        //font-weight: bold;

        // font-family: 'Dancing Script', cursive;
        // font-style: 'Regular 400';

        //font-family: 'Pacifico', cursive;

        font-family: 'Yellowtail', cursive;
        font-size: 65px;
        // color: white;

        color: whitesmoke;
        text-shadow: 0px 1px 2px rgba(black, 0.3);
    }
}

.container {
    max-width: 800px !important;
}

.add-todo-box-container {
    position: sticky;
    top: 0;
    z-index: 1;
}

.add-todo-box {
    padding: 25px;
    background: rgb(247, 247, 247);
    
    
    border-radius: 20px;
    margin-top: -68px;

    box-shadow: 0 4px 12px rgba(black, 0.08);
}